$blue: blue
$text: #282828
$bluelg:  #507fe1
$bg: #f1f1f1

@import 'fonts'
@import 'settings'
@import 'header'
@import 'view'
@import 'action'
@import 'features'
@import 'catalog'
@import 'blog'
@import 'price'
@import 'steps'
@import 'realize'
@import 'review'
@import 'production'
@import 'contact'
@import 'faq'
@import 'footer'



*,*::after,*::before
	box-sizing: border-box

body
	@include semi()
	color: $text

button:focus, input:focus, select:focus
	outline: none !important

textarea:focus
	outline: none !important
img
	max-width: 100%

.bg
	background-color: $bg

.section
	padding: 80px 0
	&_title
		font-size: 30px
		text-align: center
		text-transform: uppercase
		margin: 0
		margin-bottom: 100px

@media (max-width: 575.98px)
	.section
		padding: 40px 0
		&_title
			font-size: 24px
			margin-bottom: 50px



