$blue: blue
$text: #282828
$bluelg:  #507fe1
$bg: #f1f1f1

@import 'fonts'
@import 'settings'
@import 'header'
@import 'view'
@import 'action'



*,*::after,*::before
	box-sizing: border-box

body
	@include semi()
	color: $text

button:focus, input:focus
	outline: none !important

textarea:focus
	outline: none !important

.bg
	background-color: $bg


